* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(107 114 128);
  opacity: 0.75;
  overflow: hidden;
}
.modal_body {
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 170px;
  border-radius: 8px;
  padding: 20px 16px 16px 16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_top {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 65%;
}
.modal_bottom {
  width: 100%;
  height: 35%;
}
.icon {
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: center;
}
.icon_back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 205, 205);
}

.modal_icon {
  height: 24px;
  width: 24px;
  color: red;
}
.text_title {
  width: 100%;
  height: 100%;
  padding: 6px 0px 6px 15px;
  display: flex;
  flex-direction: column;
}
h3 {
  font-family: sans-serif;
}
.modal_text {
  margin-top: 8px;
  color: rgb(107 114 128);
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.modal_bottom {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cancel {
  height: 100%;
  padding: 0px 10px;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(172, 170, 170);
  color: black;
}
.deactivate {
  height: 100%;
  padding: 0px 10px;
  background-color: rgb(234, 5, 5);
  border-radius: 5px;
  border: 1px solid rgb(255, 4, 4);
  color: white;
  font-weight: 700;
  margin-right: 10px;
}
@media screen and (min-width: 100px) and (max-width: 600px) {
  .modal_body {
    margin: 0px 20px;
    display: block;
    flex-direction: column;
    width: 100%;
    height: 40%;
    padding: 5px;
  }
  .modal_top {
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .icon {
    height: 50%;
    width: 50%;
  }
  .text_title {
    display: flex;
    margin-top: 8px;
    align-items: center;
    padding: 0px;
  }
  .modal_bottom {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 30%;
    align-items: center;
    margin: 0px;
  }
  button {
    width: 100%;
    margin-right: 0px;
  }
  .deactivate {
    margin: 0px;
    margin-bottom: 10px;
  }
  .icon_back {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 205, 205);
  }

  .modal_icon {
    height: 1.5rem;
    width: 1.5rem;
    color: red;
  }
}
